body {
    background-color: #bebec7;
    min-height: 100vh;
    background-color: #fff;
}


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #202E54;
    color: #FBB117;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #FBB117;
    color: #202E54;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }

  .top-navbar {
    background-color: #202E54;
  }
  
  #menu-btn {
    background-color: #202E54;
    color: #FBB117;
    margin-left: -62px;
    transition: 0.5s;
  }
  
  #menu-btn:hover {
    background-color: #FBB117;
    color: #202E54;
    margin-left: -62px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }

  /* Ensure the image fits perfectly in the sidebar */
.sidebar-logo {
    width: 100%; /* Make the image span the full width of its container */
    max-width: 200px; /* Optional: Limit maximum width for better scaling */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the entire image is visible without cropping */
    margin-top: 20px; /* Add spacing above the image */
    margin-bottom: 20px; /* Add spacing below the image */
}

.button1 {
  background-color: #202E54;
  color: #FBB117;
  transition: 0.5s;
}

.button1:hover {
  background-color: #FBB117;
  color: #202E54;
  transition: 0.5s;
}

.ptag {
  color: #FBB117;
}

.ptag:hover {
  color: #202E54;
}